@font-face {
  font-family: 'main_font';
  src: url("../assets/ClearSans-Regular.ttf");
}

@font-face {
  font-family: 'main_font';
  src: url("../assets/ClearSans-Bold.ttf");
  font-weight:bold;
}

@font-face {
  font-family: 'main_font';
  src: url("../assets/ClearSans-Medium.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'main_font';
  src: url("../assets/ClearSans-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: 'main_font';
  src: url("../assets/ClearSans-Thin.ttf");
  font-weight: 100;
}

@keyframes swipe-in {
  0% {
    transform: translate(0em);
    width: 100%;
  }
  100% {
    transform: translate(11.5em);
    width: 0%;
  }
}

body {
  margin: 0;
  padding: 0;
}

#first-contain {
  background-image: url("../assets/anan-desktop-background-1.png");
  background-color: #2F516D;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  overflow:auto;
}

#header-section {
  font-family: 'main_font';
  float:left;
  margin-left: 11%;
  margin-top: 6%;
}

.headers {

  font-size:6.7em;
  color: white;
  letter-spacing: 4px;
  margin: -0.15em 0em;
  white-space: nowrap;
  float: left;
  clear: both;
  font-weight: 300;
}

#header-section span {
  float:left;
  position: relative;
  left: 2em;
  top: 2em;
  letter-spacing: 0.13em;
  font-weight: 100;
}

#hide-swipe-anim {
  position: absolute;
  width: 100%;
  height:100%;
  background-color: #2F516D;
  animation: swipe-in 1.5s linear;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

#header-section p {
  margin: 0;
  color:white;
}

#header-1 {
  animation-duration: 0.7s;
}

#header-2 {
  margin-left: 9% !important;
  animation-delay: 0.5s;
}

#header-3 {
  animation-delay: 0.8s;
}

#header-4 {
  margin-left: 15% !important;
  animation-delay: 1.1s;
}

#mobile-location {
  display: none;
}

#anan-logo {
  float:right;
  background-image: url("../assets/anan1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width:16em;
  height:8em;
  margin-top:7%;
  margin-right:13%;
}

#contact-us {
  clear: both;
  font-family: 'main_font';
  color: white;
  padding-top: 3%;
  letter-spacing: 0.15em;
  animation-delay: 2s;
}

#contact-us p {
  margin: 0;
  font-weight: 100;
}

#contact-us p a {
  color: #BCA178;
}

#email-btn {
  float: left;
  width: 6em;
  height: 1em;
  background-color: #BCA178;
  padding: 0.65em 1.9em;
  margin-left: 14%;
  margin-right: 3%;
  line-height: 1em;
  margin-top: 0.2em;
  color: white;
  text-align: center;
}

#down-arrow {
  background-image: url("../assets/down-arrow-icon.png");
  background-repeat: no-repeat;
  background-size:contain;
  width: 2em;
  height: 1em;
  position: absolute;
  left: 50%;
  top: 94%;
  animation-delay: 2.2s;
}

#second-contain {
  background-image: url("../assets/anan_web_image.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 100vh;
  font-family: 'main_font';
}

#bar-logo {
  background-image: url("../assets/anan2.png");
  background-repeat: no-repeat;
  background-size: contain;
  width:20em;
  height:10.2em;
  margin-left: 10%;
  margin-bottom:2em;
  display: inline-block;
  margin-top:7%;
}

#text-wrapper {
  width: 13em;
  margin-left: 12.5%;
  font-size: 1.25em;
  color: white;
  letter-spacing: 0.13em;
  font-weight: 200;

}

#second-body {
  font-size: 0.9em;
  width:13em;
}

#text-wrapper h5 {
  font-weight:200;
  font-size: 1.1em;
  margin: 0;
}

#social-icons {
  margin-left: 12.5%;
  margin-top:2em;
}

#fb-icon {
  background-image: url("../assets/fb-icon.png");
  margin-left: 0em;
}

#twitter-icon {
  background-image: url("../assets/twitter-icon.png");
  margin-left: 1em;
}

#instagram-icon {
  background-image: url("../assets/instagram-icon.png");
}

#email-icon {
  background-image: url("../assets/mail-icon.png");
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.5em;
  height: 1.3em;
  margin-left: 1.5em;
  float: left;
}

.no-scroll {
  overflow: hidden;
}


/* -----------------------------Mobile----------------------------- */

@media (max-width: 420px) {

  #black-screen {
    display: none;
  }

  #first-contain {
    background-image: url("../assets/anan-mobile-bg-1.png");
    background-color: #2F516D;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    padding-bottom: 25px;
  }

  #header-section {
    font-family: 'main_font';
    float:left;
    margin-left: 7%;
    margin-top: 6%;
  }

  .headers {

    font-size: 3em;
    color: white;
    letter-spacing: 4px;
    margin: -0.1em 0em;
    white-space: nowrap;
    float: left;
    clear: both;
  }

  #header-section span {
    display:none;
  }

  #header-1 {
    animation-duration: 0s;
  }

  #header-2 {
    margin-left: 9% !important;
    animation-delay: 0s;
  }

  #header-3 {
    animation-delay: 0s;
  }

  #header-4 {
    margin-left: 15% !important;
    animation-delay: 0s;
  }

  #mobile-location {
    font-family: 'main_font';
    display: inline-block;
    letter-spacing: 0.13em;
    font-weight: 100;
    color: white;
    margin-left: 7%;
    margin-top: 1.5em;
  }

  #mobile-location p {
    margin: 0;
  }

  #anan-logo {
    float: none;
    background-image: url(../assets/anan1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10em;
    height: 6em;
    margin-top: 10%;
    margin-left: 7%;
  }

  #contact-us a {
    text-decoration: none;
  }

  #contact-us p {
    margin: 0 0 0 7%;
  }

  #contact-us p a {
    color: #BCA178;
  }

  #email-btn {
    float: none;
    width: 7em;
    height: 1.2em;
    background-color: #BCA178;
    padding: 0.65em 1.9em;
    margin-left: 7%;
    margin-right: 3%;
    line-height: 1.2em;
    margin-top: 2em;
    margin-bottom: 1.5em;
    letter-spacing: 0.13em;
    font-size: 0.8em;
    text-align: center;
    color: white;
  }

  #down-arrow {
    display:none;
  }

  #second-contain {
    background-image: url("../assets/anan-mobile-bg-2.jpg");
    min-height: 67vh;
    padding-bottom: 50px;
  }

  #bar-logo {
    background-image: url("../assets/anan2.png");
    width:9em;
    height:8em;
    margin-left: 7%;
    margin-bottom: 0.5em;
    margin-top: 15%;
  }

  #text-wrapper {
    width: 12em;
    margin-left: 14%;
    color: white;
    letter-spacing: 0.13em;
    margin-top: 1.5em;
    font-size:1.1em;
  }

  #text-wrapper h5 {
    font-weight:200;
    font-size: 1.1em;
    margin: 0;
  }

  #social-icons {
    margin-left: 14%;
    margin-top:2em;
  }

  .icon {
    background-repeat: no-repeat;
    background-size: contain;
    width: 2em;
    height: 1.6em;
    margin-left: 1.5em;
    float: left;
  }
}

@media (min-width: 841px) and (max-width: 1040px) {

  #header-section {
    margin-left: 10%;
    margin-top: 6%;
  }

  .headers {

    font-size: 5em;
    color: white;
    letter-spacing: 4px;
    margin: -0.1em 0em;
    
  }

  #header-section span {
    left: 2em;
    top: 2em;
    font-size: 0.8em;
  }

  #header-4 {
    animation: none;
  }
}

/*-------------------------VERTICAL IPAD--------------------------*/


@media (min-width: 640px) and (max-width: 840px) {

  #first-contain {
    background-image: url("../assets/anan-ipad-bg-1.png");
    background-size: 100% 100%;
    min-height:50vh;
    max-height:50vh;
    overflow: hidden;
  }

  #header-section {
    margin-left: 9%;
    margin-top: 5%;
    clear: left;
  }

  .headers {
    font-size: 5em;
    color: white;
    letter-spacing: 0.02em;
    margin: -0.16em 0em;
    font-weight: bold;   
  }

  #header-section span {
    left: 2em;
    top: 1.5em;
    font-size: 0.75em;
    font-weight: 200;
  }

  #hide-swipe-anim {
    animation: none;
    display: none;
  }

  #header-1 {
    animation:none;
    animation-duration: 0s;
    animation-fill-mode: none;
  }

  #header-2 {
    animation: none;
    animation-duration: 0s;
    animation-fill-mode: none;
  }

  #header-3 {
    animation: none;
    animation-duration: 0s;
    animation-fill-mode: none;
  }

  #header-4 {
    animation: none;
    animation-duration: 0s;
    animation-fill-mode: none;
  }

  #anan-logo {
    float: right;
    width: 11em;
    height: 6em;
    margin-right: 10%;
    margin-top: 5%;
  }

  #contact-us {
    animation: none;
    letter-spacing: 0.1em;
  }

  #contact-us p {
    font-weight: 300;
    font-size: 0.75em;
  }

  #email-btn {
    font-weight: 300;
    margin-left: 11%;
    padding: 0.45em 1.2em;
    font-size: 0.9em;
  }

  #down-arrow {
    display: none;
  }

  #second-contain {
    min-height:50vh;
    max-height:50vh;
  }

  #bar-logo {
    height: 7em;
  }

  #text-wrapper {
    font-size: 1em;
    font-weight: 300;
  }

  #second-body {
    width: 12em;
  }

}

@media (min-width: 421px) and (max-width: 639px) {
  #black-screen {
    display:none;
  }

  #first-contain {
    background-image: url("../assets/anan-mobile-bg-1.png");
    padding-bottom: 25px;
  }

  #header-section {
    margin-left: 8%;
    margin-top: 6%;
    clear: left;
  }

  .headers {

    font-size: 4em;
    color: white;
    letter-spacing: 4px;
    margin: -0.1em 0em;
    
  }

  #header-section span {
    display: none;
  }

  #mobile-location {
    font-family: 'main_font';
    display: inline-block;
    letter-spacing: 0.13em;
    font-weight: 100;
    color: white;
    margin-left: 8%;
    margin-top: 1.5em;
    float: left;
    clear: both;
  }

  #mobile-location p {
    margin: 0;
  }

  #header-4 {
    animation: none;
    animation-duration: 0s;
  }

  #anan-logo {
    float: left;
    margin-left: 8%;
    width: 10em;
    height: 6em;
  }

  #contact-us a {
    text-decoration: none;
  }

  #contact-us p {
    margin: 0 0 0 7%;
  }

  #email-btn {
    float: none;
    width: 7em;
    height: 1.2em;
    background-color: #BCA178;
    padding: 0.65em 1.9em;
    margin-left: 7%;
    margin-right: 3%;
    line-height: 1.2em;
    margin-top: 2em;
    margin-bottom: 1.5em;
    letter-spacing: 0.13em;
    font-size: 0.8em;
    text-align: center;
    color: white;
  }

  #down-arrow {
    display:none;
  }

  #second-contain {
    background-image: url("../assets/anan-mobile-bg-2.jpg");
    min-height: 100vh;
  }

  #bar-logo {
    background-image: url("../assets/anan2.png");
    width:9em;
    height:8em;
    margin-left: 8%;
    margin-bottom: 0.5em;
    margin-top: 15%;
  }

  #text-wrapper {
    width: 12em;
    margin-left: 14%;
    color: white;
    letter-spacing: 0.13em;
    margin-top: 1.5em;
    font-size:1.1em;
  }

  #text-wrapper h5 {
    font-weight:200;
    font-size: 1.1em;
    margin: 0;
  }

  #social-icons {
    margin-left: 14%;
    margin-top:2em;
  }

  .icon {
    background-repeat: no-repeat;
    background-size: contain;
    width: 2em;
    height: 1.6em;
    margin-left: 1.5em;
    float: left;
  }
}







